* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #989898;
    font-weight: 400;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #F8F8F8;
}
/* FORMATAÇÃO DE TEXTOS */
.text {
    font-size: clamp(14px, 1rem, 2vw);
    color: #989898;
}
.text-two {
    color: #0587FF;
    text-align: center;
}
.text-two a {
    color: #0587FF;
    vertical-align: middle;
}
.text-tree {
    font-size: 18px;
    font-weight: 300;
    color: #262626;    
}
.text-four {
    font-size: 18px;
    font-weight: 600; 
    color: #0587FF;
}
.text-five {
    font-size: 14px;
}

/* HEADER SITE */
.header-logo{
    display: none;
    background-color: #24292E;
    height: 72px;
}
.header-content{
    padding: 0 2vw;
    align-self: center;
}

/* PERFIL INFORMAÇÕES */
.container {
    padding: 40px 24px;
}
.data-profile {
    display: block;
    text-align: center;
}
 .avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
    flex-shrink: 0;
}
.avatar-user {
    border-radius: 50%;
    width: 104px;
    height: 104px;
    margin-bottom: 10px;  
}
.title {
    font-size: clamp(20px, 1.5rem, 2.4vw); 
    line-height: 2rem;
    font-weight: 700;
    color: #262626;
}
.profile-description {
    display: grid; 
    padding-bottom: 16px;
}
/* DROPDOWN INFORMAÇÕES */
.dropdown {
    margin: auto;
    margin-top: 10px;
    display: grid;
    text-align: center;
    padding-bottom: 40px;

}
.arrow-dropdown { 
    justify-self: center; 
    padding: 10px 0px;
}
.dropdown::before {
    right: 20px;
    top: 15px;
}
.dropdown .option {
    background-color: #F8F8F8;
    border-radius: 15px;
    padding: 10px 0px;
    line-height: 2rem;
    text-align: left;
    overflow: hidden;
    display: none;
    width: 100%;
    top: 60px;
}
.dropdown.active .option {
    display: grid;
}
.dropdown .icons {
    vertical-align: middle;
    padding: 0px 15px;
}
/* DADOS REPOSITÓRIOS */
.data-display {
    justify-content: space-between;
    display: flex;
    padding-bottom: 40px;
}
.text-data {
    vertical-align: super;
    padding: 0px 8px;
}
.data .text-button {
    background-color: #F8F8F8;
    border: 1px solid #989898;
    font-size: 14px;
    border-radius: 20px;
    padding: 4px 12px;
    vertical-align: super;
}
.filter-buttons {
    background-color: #F8F8F8;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 8px; 
    display: flex;
    width: 96%;
}
.filter-buttons .data-search{
    align-self: center;
    padding-right: 4px;
    display: flex;
}
.filter-buttons button {
    background: linear-gradient(89.89deg, #0056A6 -30.01%, #0587FF 125.65%);
    display: flex;
    border-radius: 42px;
    border: none;
    color: #FFF;
    padding: 8px 20px
}

/* MODAL FILTER */
.modal {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    right: 0px;
    left: 0px;
    top: 0px;
}
.modal-header {
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
} 
.modal:target {
    opacity: 1;
    visibility: visible
}
.modal-content {
    background: #FFFFFF;
    position: relative;
    color: #262626;
    padding: 16px 24px;    
    z-index: 20;
    height: 100vh;
}
.modal-body {
    display: grid;
    margin: 56px 18px;
}
.modal-body input {
    background-color: #FFFFFF;
}
.modal .overlay {
    background-color: #000;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}
/* CHECKBOX FILTER */
.filter-types {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    font-size: 16px;
}
.modal-body .filter-types input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.modal-body .filter-types .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #989898;
} 
.modal-body .filter-types:hover input ~ .checkmark {
    background-color: #FFFFFF;
    
} 
.modal-body .filter-types input:checked ~ .checkmark {
    background-color: #0587FF;
} 
.modal-body .filter-types .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.modal-body .filter-types input:checked ~ .checkmark:after {
    display: block;
}
/* FILTRO REPOSITÓRIOS */
.filter-buttons  input {
    background-color: #F8F8F8;
    border: none;
    width: 100%;
    margin-left: 10px;
    font-size: 18px;
}  
.input{
    align-self: center;
    padding-right: 3px;
}

.input input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.input-filter {
    display: flex;
}
#placeholder::placeholder {
    color: transparent;
}
.search-mobile {
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}
.search-desktop{
    display: none;
}
.hr-input {
    display: none;
}
/* HIDE CONTENT E SELECT DIV*/
.border-bottom{
    border-bottom: 2px solid #FD8C73;
    padding-bottom: 8px;
}
.border-bottom span{
    color: #262626;
}
/* CONTENT */
.content {
    padding: 30px 0px;
}
.content-title {
    padding-bottom: 15px;
}
.content-description {
    padding-bottom: 15px;
}
.data-icons {
    display: flex;   
}
.data-icons div {
    padding-right: 30px;
}
.data-icons img {
    padding-right: 10px;
    vertical-align: text-bottom;
}
.data-icons span {
    color: #000000;
}
.content-hr {
    border: 1px solid #F8F8F8;
    width: 100%;
}

/* MEDIA QUERIES PARA IPAD */

@media (min-width: 768px){
    .header-logo {
        display: flex;
    }
    .container { 
        padding-right: 2vw;
        padding-top: 40px;
    }
    .data-profile {
        display: inline-block;
    }
    .dropdown .textBox {
        display: none;
    }
    .dropdown .arrow-dropdown {
        display: none;
    }
    .dropdown .option {
        background-color: #FFFFFF;
        display: block;
    }
    .data {
        width: 60vw;
        display: inline-block;
        vertical-align: top;  
        padding-left: 5vh;
    }
    .filter-buttons {
        display: grid;
        background-color: transparent
    }
    .filter-buttons  input {
        background-color: transparent;
        padding-bottom: 4px;
    } 
    .data-display{
        padding-right: 8vw;
        padding-bottom: 20px;
    }
    .input-filter {
        padding-top: 20px;
        display: flex;
        flex-direction: row-reverse;  
    }
    #placeholder::placeholder{
        padding-left: 20px;
        font-size: 18px;
        color: #989898;
    }
    .hr-input{
        display: flex;
        width: 100%;
        border: 1px solid #F4F4F4;
        background-color: #F4F4F4;
    }
    .search-mobile{
        display: none;
    }
    .search-desktop{
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
    }
}

/* MEDIA QUERIES PARA DESKTOP */

@media (min-width: 1500px) {
    .header-logo{
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .container{
        padding-left: 12vw;
        padding-right: 12vw;
        padding-top: 40px;  
    }
    .avatar-user{
        width: 150px;
        height: 150px;
    }
    .data-display{
        padding-right: 30vw;
    }
    .filter-buttons{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 0px;
        width: 100%;
    }
     .data-search{
        padding-right: 50px;
    }
    .content{
        padding: 40px 0px 8px 0px;
    }
    .content-hr{
        display: none;
    }
    .hr-input{
        width: 50%;
    }
    .modal {
        width: 20%;
        opacity: 0;
        margin: 0 auto;
        top: 150px;
    }
    .modal-content{
        height: 50vh;
    }
}

  



