* {
    margin: 0px;
    padding: 0px;
}

htlm {
    --grey-light: #F8F8F8;
    --blue: #0587FF;
    --grey: #989898;
    --black: #262626;
    --rose: #FD8C73;

}
body {
    font-family: 'Roboto', sans-serif;
    color: #989898;
    font-weight: 400;
    font-size: 14px;

}

a {
    text-decoration: none;
    color: #F8F8F8;
}

.container {
    padding: 5vh 5vw;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
    flex-shrink: 0;
}

.avatar-user {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    margin-bottom: 10px;  
}

.infos {
    display: block;
    text-align: center;
}

.title {
    font-size: clamp(20px, 1.5rem, 2.4vw); 
    line-height: 2rem;
    font-weight: 700;
    color: #262626;
}

.text {
    font-size: clamp(14px, 1rem, 2vw);
    color: #989898;
}
.text-two {
    color: #0587FF;
    font-size: clamp(14px, 1rem, 2vw);
    text-align: center;
}

.text-two a {
    text-decoration: none;
    color: #0587FF;
    vertical-align: middle;
}

.text-two a:hover {
    color: #0877df;
    cursor: pointer;
}

.text-tree {
    font-size: 18px;
    font-weight: 300;
    color: #262626;    
}

.text-four {
    font-size: 18px;
    font-weight: 600; 
    color: #0587FF;
}

.text-five {
    font-size: 14px;
}

/* DROPDOWN INFORMAÇÕES */

.dropdown {
    margin: auto;
    margin-top: 10px;
    display: grid;
    cursor: pointer;  
    text-align: center;
    padding-bottom: 40px;
}

.dropdown .arrow-dropdown { 
    justify-self: center; 
    padding: 10px 0px;
}

.dropdown::before {
    right: 20px;
    top: 15px;
}

.dropdown .option {
    background-color: #F8F8F8;
    border-radius: 15px;
    padding: 10px 0px;
    line-height: 2rem;
    text-align: left;
    overflow: hidden;
    display: none;
    width: 100%;
    top: 60px;
}

.dropdown.active .option {
    display: grid;
}

.dropdown .option div:hover {
    color: #0877df;
    
}
.icons {
    vertical-align: middle;
    padding:0px 15px;
}

.data {
    padding-bottom: 30px;
}

.display-data {
    justify-content: space-between;
    display: flex;
}

.text-data {
    vertical-align: super;
}

.hr {
    border: 2px solid #FD8C73;
    background-color: #FD8C73;
    padding: 0px 10px;
    width: 90%;
}

.text-button {
    background-color: #F8F8F8;
    border: 1px solid #989898;
    border-radius: 20px;
    padding: 5px 15px;
}


.filter-buttons {
    background-color: #F8F8F8;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 8px;
    display: flex;
    width: 96%;
}

.buttons {
    align-self: center;
    padding-right: 4px;
}

.input input {
    background-color: #F8F8F8;
    padding: 15px 0px;
    border: none;
    width: 60%;
}
  
.filter-buttons button {
    background: royalblue;
    display: flex;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 8px 20px
}

/* MODAL FILTER */

.modal {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    right: 0px;
    left: 0px;
    top: 0px;

}

.modal .header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
  
.modal:target {
    opacity: 1;
    visibility: visible
}
 
.modal-content {
    background: #FFFFFF;
    position: relative;
    color: #262626;
    padding: 16px 20px;    
    z-index: 20;
    height: 100vh;
}

.modal .modal-body {
    display: grid;
    margin: 50px 20px;
}

.modal .modal-body input {
    background-color: #FFFFFF;
}
  
.modal .overlay {
    background-color: #000;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

/* CHECKBOX FILTER */

.types {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    cursor: pointer;
}
  
.types input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #989898;
} 
 
.types:hover input ~ .checkmark {
    background-color: #FFFFFF;
    
}
  
.types input:checked ~ .checkmark {
    background-color: #0587FF;
}
  
.types .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.types input:checked ~ .checkmark:after {
    display: block;
}

.box {
    padding: 30px 0px;
}

.content .content-title {
    padding-bottom: 15px;
}

.content-description {
    padding-bottom: 15px;
}

.data-icons {
    display: flex;   
}

.data-icons div {
    padding-right: 30px;
}

.data-icons img {
    padding-right: 10px;
}

.data-icons span {
    color: #000000;
}

.content-hr {
    border: 1px solid #F8F8F8;
    width: 100%;
}

  



